html,
body {
  margin: 0;
  padding: 0;
  background: #000000;
  font-family: "Source Code Pro", monospace;
}

header {
  position: fixed;
  background: inherit;
  width: 100%;
  font-family: "Source Code Pro", monospace;
  margin: 2% 0 0 25%;
}
header div {
  padding: 2%;
}
header div a {
  color: #ffffff;
  font-size: 28px;
}
header div a:hover {
  color: #ffea00 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #ffffff;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

p {
  font-size: 36px;
}

li {
  list-style-image: url("/assets/icon.svg");
  color: #ffffff;
  font-size: 36px;
  text-align: justify;
}

button {
  margin: 20px auto;
  border: none;
  background-color: #000000;
  outline: none;
}

button img {
  position: relative;
  width: 100px;
  height: 60px;
  clip: rect(10px, 10px, 0px, 0px);
  margin-top: 25%;
}

form {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: 36px;
}

input {
  height: 40px;
}

.col {
  width: 50%;
}

.img-container img {
  border-radius: 50%;
  height: 350px;
  width: 350px;
}

.section {
  margin: 10%;
}

.primary {
  color: #ffffff;
}

.secondary {
  color: #ffea00;
}

.justify {
  text-align: justify;
}

.flex {
  display: flex;
}

.img-container {
  margin: auto;
}

.m-auto {
  margin: auto;
}

.m-0 {
  margin: 0;
}

.text-center {
  text-align: center;
}

.icons-container img {
  padding: 10px;
}

.lists-2 {
  padding-left: 30%;
}

.col-7 {
  width: 60%;
}

.col-5 {
  width: 40%;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
input::-moz-placeholder {
  font-family: "Source Code Pro", monospace;
}
input:-ms-input-placeholder {
  font-family: "Source Code Pro", monospace;
}
input::placeholder {
  font-family: "Source Code Pro", monospace;
}

textarea::-moz-placeholder {
  font-family: "Source Code Pro", monospace;
}

textarea:-ms-input-placeholder {
  font-family: "Source Code Pro", monospace;
}

textarea::placeholder {
  font-family: "Source Code Pro", monospace;
}

@-webkit-keyframes plane {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: -580px;
    left: 600px;
  }
}

@keyframes plane {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: -580px;
    left: 600px;
  }
}
@media only screen and (max-width: 600px) {
  .flex {
    flex-direction: column;
  }
  h1 {
    font-size: 48px;
    text-align: center;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 24px;
  }
  li {
    list-style-image: url("/assets/icon.svg");
    color: #ffffff;
    font-size: 24px;
    text-align: justify;
  }
  .col {
    width: 100%;
  }
  .col-7 {
    width: 100%;
  }
  .col-5 {
    width: 100%;
  }
  .lists-2 {
    margin-top: -28px;
    padding-left: 0;
  }
  .card-container {
    height: 75px;
    width: 180px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    flex: 0 0 27%;
    margin: 2%;
  }
  .img-container img {
    border-radius: 50%;
    height: 280px;
    width: 280px;
  }
  .m-auto {
    margin: inherit;
    margin-top: -25px;
  }
  form {
    font-size: 24px;
  }
  .mt-sm-12 {
    margin-top: 12%;
  }
  .flex-col {
    flex-direction: column;
  }
  .button {
    margin-top: 10%;
  }
}
.fs-60 {
  font-size: 45px;
}

.card-container {
  height: 320px;
  width: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  flex: 0 0 27%;
  margin: 2%;
}

.card-image img {
  height: 220px;
  width: 100%;
  border-radius: 8px 8px 0 0;
  background-size: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 16px;
}

.card-body h1 {
  color: #000000;
  font-size: 16px;
  margin: 8px 0;
}

.card-body p {
  color: #000000;
  font-size: 14px;
  margin: 8px 0 16px 0;
}

@media screen and (max-width: 1000px) {
  .container {
    grid-template-columns: 1fr;
  }
}
.button {
  font-family: "Work Sans", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  border: 0.2em solid;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  opacity: 0.6;
  color: #fff;
}
.button__text {
  display: block;
  padding: 1em 2em;
  text-transform: uppercase;
  font-weight: bold;
}
.button__text:before {
  content: attr(title);
}
.button__text--bis {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(-1em);
  opacity: 0;
}
.button__mask {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  transform: translateX(-100%) rotate(45deg);
  transition: all 0.3s;
}

.button:hover {
  opacity: 1;
}
.button:hover .button__text {
  -webkit-animation: fx-text 0.3s ease-out;
  animation: fx-text 0.3s ease-out;
}
.button:hover .button__text--bis {
  -webkit-animation: fx-text-bis 0.3s ease-out;
  animation: fx-text-bis 0.3s ease-out;
}
.button:hover .button__mask {
  -webkit-animation: fx-mask 0.3s ease-out;
  animation: fx-mask 0.3s ease-out;
}

.button:active {
  opacity: 1;
  background: white;
  color: inherit;
}

@-webkit-keyframes fx-mask {
  0% {
    transform: translateX(-100%) rotate(45deg);
  }
  100% {
    transform: translateX(100%) rotate(45deg);
  }
}

@keyframes fx-mask {
  0% {
    transform: translateX(-100%) rotate(45deg);
  }
  100% {
    transform: translateX(100%) rotate(45deg);
  }
}
@-webkit-keyframes fx-text {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(1em);
    opacity: 0;
  }
}
@keyframes fx-text {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(1em);
    opacity: 0;
  }
}
@-webkit-keyframes fx-text-bis {
  0% {
    transform: translateX(-1em);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fx-text-bis {
  0% {
    transform: translateX(-1em);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .fs-60 {
    font-size: 36px;
  }

  .section {
    margin: 5%;
  }
}

@media screen and (max-width: 480px) {
  .fs-60 {
    font-size: 28px;
  }
} /*# sourceMappingURL=style.css.map */
