@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

$background: #000000;
$text_primary_colour: #ffffff;
$text_secondary_colour:  #FFEA00;
$font : 'Kaushan Script', cursive;
$anim-text-offset: 1em;

html, body {
    margin: 0;
    padding: 0;
    background: $background;
    font-family: $font;
}

header {
    position: fixed;
	background: inherit;
	width: 100%;
    font-family: $font;
    margin: 2% 0 0 40%;
    div {
        padding: 2%;
        a {
            color: $text_primary_colour;
            font-size: 28px;
        }
        a:hover{
            color: $text_secondary_colour !important;
        }
    }
}

h1, h2, h3, h4, h5, h6, p {
    color: $text_primary_colour ;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

p {
    font-size: 36px;
}

li {
    list-style-image: url('/assets/icon.svg');
    color: $text_primary_colour;
    font-size: 36px;
    text-align: justify;
}

button {
    margin: 20px auto;
    border: none;
    background-color: #000000;
    outline: none;
}

button img {
    position: relative;
    width: 100px;
    height: 60px;
    clip: rect(10px,10px,0px,0px);
    margin-top: 25%;
}

form {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-size: 36px;
}

input {
    height: 40px;
}

.col {
    width: 50%;
}

.img-container img {
    border-radius: 50%;
    height: 350px;
    width: 350px;
}

.section {
    margin: 10%;
}

.primary {
    color: $text_primary_colour;
}

.secondary {
    color: $text_secondary_colour;
}

.justify {
    text-align: justify;
}

.flex {
    display: flex;
}

.img-container {
    margin: auto;
}

.m-auto {
    margin: auto;
}

.m-0 {
    margin: 0;
}

.text-center {
    text-align: center;
}

.icons-container img {
    padding: 10px;
}

.lists-2 {
    padding-left: 30%;
}

.col-7 {
    width: 60%;
}

.col-5 {
    width: 40%;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

input::placeholder {
    font-family: $font;
}

textarea::placeholder {
    font-family: $font;
}

@keyframes plane {
    from {
        top: 0px;
        left: 0px;
    }
    to {
        top: -580px;
        left: 600px;
    }
}

@media only screen and (max-width: 600px) {

    .flex {
        flex-direction: column;
    }
    h1 {
        font-size: 48px;
        text-align: center;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 24px;
    }

    p {
        font-size: 24px;
    }

    li {
        list-style-image: url('/assets/icon.svg');
        color: $text_primary_colour;
        font-size: 24px;
        text-align: justify;
    }

    .col {
        width: 100%;
    }

    .col-7 {
        width: 100%;
    }

    .col-5 {
        width: 100%;
    }

    .lists-2 {
        margin-top: -28px;
        padding-left: 0;
    }

    .card-container {
        height: 75px;
        width: 180px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 20px rgba(0,0,0, 0.1);
        overflow: hidden;
        font-family: 'Roboto', sans-serif;
        flex: 0 0 27%;
        margin: 2%;
      }

    .img-container img {
        border-radius: 50%;
        height: 280px;
        width: 280px;
    }

    .m-auto {
        margin: inherit;
        margin-top: -25px;
    }

    form {
        font-size: 24px;
    }

    .mt-sm-12 {
        margin-top: 12%;
    }
    .flex-col {
        flex-direction: column;
    }

    .button {
        margin-top: 10%;
    }
}

.fs-60 {
    font-size: 60px;
}


.card-container {
    height: 320px;
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 20px rgba(0,0,0, 0.1);
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    flex: 0 0 27%;
    margin: 2%;
  }

  .card-image img {
    height: 220px;
    width: 100%;
    border-radius: 8px 8px 0 0;
    background-size: cover;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 16px;
  }

  .card-body h1 {
    color: $background;
    font-size: 16px;
    margin: 8px 0;
  }

  .card-body p {
    color: $background;
    font-size: 14px;
    margin: 8px 0 16px 0;
  }

  @media screen and (max-width: 1000px) {
    .container {
      grid-template-columns: 1fr;
    }
  }

  .button{
    font-family: 'Work Sans', sans-serif;
    touch-callout: none;
    user-select: none;
    display: inline-block;
    border: .2em solid;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    opacity: 0.6;
    color: #FFF;
    &__text{
      display: block;
      padding:1em 2em;
      text-transform: uppercase;
      font-weight: bold;
      &:before{
        content: attr(title);
      }
      &--bis{
        display: block;
        position: absolute;
        top: 0; left:0; right: 0; bottom: 0;
        transform: translateX(-1 * $anim-text-offset);
        opacity: 0;
      }
    }
    &__mask{
      display: block;
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      background: white;
      transform: translateX(-100%) rotate(45deg);
      transition: all 0.3s;
    }
  }

  .button:hover{
    opacity: 1;
    .button__text{
      animation: fx-text .3s ease-out;
      &--bis{
        animation: fx-text-bis .3s ease-out;
      }
    }
    .button__mask{
      animation: fx-mask .3s ease-out;
    }
  }

  .button:active{
    opacity: 1;
    background: white;
    color: inherit;
  }



  @keyframes fx-mask {
    0%{
      transform: translateX(-100%) rotate(45deg);
    }
    100%{
      transform: translateX(100%) rotate(45deg);
    }
  }

  @keyframes fx-text {
    0%{
      transform: translateX(0);
      opacity: 1;
    }
    100%{
      transform: translateX($anim-text-offset);
      opacity: 0;
    }
  }
  @keyframes fx-text-bis {
    0%{
      transform: translateX(-1 * $anim-text-offset);
      opacity: 0;
    }
    100%{
      transform: translateX(0);
      opacity: 1;
    }
  }